
body {
background-image: url('ramka.gif');
background-repeat: repeat-y;
background-position: left;
background-attachment: fixed;
}


.column {
position: absolute;
top: 120px;
padding: 15px;
border: 3px double red;
height: 500px; 
overflow: auto; 
background-color: #CBD6E2;
background-image: url('bg_menu.gif');
background-repeat: repeat-x;
}

.col1 {
width: 550px;
left: 50px;
background-position: center;
}

.col2 {
width: 350px;
left: 630px;
background-position: top;
}

.column h4 {
text-align: center;
font-style: italic;
font-weight: bold;
}

.column p {
text-indent: 20px;
line-height: 1.5;
}