body.ex3
{background-color: #79e2f5;}


p.ex4 {
  color: green;
}

body.ex5 {
  background-color: red;
  color: green;
   background-image: url("../image/ball.jpg");
    background-repeat: no-repeat;
 background-position: 50% 0%

}

p.ex6{
   font-family: Arial, Candara, Century-Gothic, sans-serif; 
}


h1.ex7{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
}
h2.ex7{
 font-family: Times New Roman, Georgia, serif;
 font-style: italic;
}
p.ex7{
 font-family: Times New Roman, Georgia, serif;
 font-style: oblique;
}

p.ex8{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-variant: small-caps;
}

p.ex9{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-variant: normal;
 font-weight: 600
}

h1.ex10{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-size: 30px;
}
h2.ex10{
 font-family: Times New Roman, Georgia, serif;
 font-style: italic;
 font-size: 100pt;
}
h3.ex10{
 font-family: Times New Roman, Georgia, serif;
 font-style: italic;
 font-size: 120%;
}
p.ex10{
font-style: italic;
font-weight: bold;
font-size: 30px;
font-family: arial, sans-serif;
}


/* 1.*/
p {
    font-size: 14px;
    color: #333;
}

/* 2.*/
.test {
    color: blue;
}

/* 3.*/
#intro {
    font-weight: bold;
}

/* 4.*/
.container p {
    color: green;
    font-style: italic;
}

/* 5.*/
.my-link:link {
    color: #0000ff;
    text-decoration: none;
}

/* 6.*/
.hover-link:hover {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: red;
}

/* 7.*/
h2.title-red {
    color: darkred;
    border-bottom: 1px solid black;
}

/* 8.*/
.group1, .group2 {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px dashed gray;
}

h1.exx1{
  text-align: center;
}


.back-link {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    font-size: 12px;
}